<form (submit)="onAddPost(postForm)" #postForm="ngForm">
  <button
    mat-raised-button
    color="primary"
    (click)="onClick()">計算する</button>
</form>

<p>{{ crypto }}</p>
<p>{{ exchange }}</p>
<p>{{ file?.name }}</p>
