<app-header></app-header>
<main>
  <app-crypto-select></app-crypto-select>
  <app-exchange-select></app-exchange-select>
  <app-csv-input></app-csv-input>
  <app-calculate></app-calculate>
  <app-post-list></app-post-list>
</main>
